#ze-pos-user-info {
    background-color:rgb(0, 255, 72);
    margin: 2vh;
}

#ze-pos-quick-access {
    background-color:rgb(248, 249, 249, 1);
    width: 70vw;
    padding: 3vw;
}

#ze-pos-categories-and-search {
    background-color:rgba(255, 119, 0, 0.623);
    margin: 2vh;
}

#ze-pos-product-grid {
    background-color:rgba(238, 255, 0, 0.623);
    margin: 2vh;
}

#ze-pos-simulate-delivery-button,
#ze-pos-cupons-button {
    background-color: white;
    width: 30vw;
    margin-top: 2vw;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }

.icon,
.text {
  vertical-align: middle;
  display: inline-block;
}