:root{
    /* font type */
    --font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   
    /* font weight */
    --font-weight-light:300;
	--font-weight-regular:400;
	--font-weight-medium:500;
	--font-weight-semibold:600;
    --font-weight-bold:700;

    /* font scale */
    --font-size-h1:1.9vw;
    --font-size-h2:1.6vw;
    --font-size-h3:1.38vw;
    --font-size-h4:1.25vw;
    --font-size-h5:1.1vw;
    --font-size-p:0.97vw;
    --font-size-regular: 0.90vw;
    --font-size-small: 0.69vw;

    /* Color Pallete */
	--color-primary-50:#005CB9;
    --color-primary-300:#FF595A;

    --color-secondary-50:#D7E2FB;
    --color-secondary-300:#D1EEDB;

    --color-tertiary-50:#FFD7DB;
    --color-tertiary-300:#F6DFA4;


    --color-neutral-50:#FFFFFF;
    --color-neutral-100:#F8F9F9;
    --color-neutral-200:#F1F2F2;
    --color-neutral-300:#EEEEEE;
    --color-neutral-400:#D9D9D9;
    --color-neutral-500:#848484;
    --color-neutral-600:#5C5C5C;
    --color-neutral-700:#231F20;

    --color-status-50:#2E7D32;
    --color-status-300:#FE9339;
    --color-status-500:#B00020;

    
}

#ze-pos-user-info {
    background-color:rgb(0, 255, 72);
    margin: 2vh;
}

#ze-pos-quick-access {
    background-color:rgb(248, 249, 249, 1);
    padding-top: 2vw;
    padding-left: 4vw;
    padding-bottom: 1.5vw;
}

#ze-pos-quick-access-icon {
    width:4vw;
    height: 2vw;
}

#ze-pos-quick-access-text {
    font-size: 1.5vw;
    font-weight: 600;
    text-align: left;
}

#ze-pos-categories-and-search {
    background-color:rgba(255, 119, 0, 0.623);
    margin: 2vh;
}

#ze-pos-product-grid {
    background-color:rgba(238, 255, 0, 0.623);
    margin: 2vh;
}

#ze-pos-title-store {
    color: var(--color-neutral-700);
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-bold);
    letter-spacing: 2%;
    line-height: 3.3vh;
    margin-bottom: 0.8vh;
}

#ze-pos-edit-spacing {
    padding-left: 0.4vw;
    padding-bottom: 0.7vh;
}

#ze-pos-user-name {
    color: var(--color-neutral-500);
    font-size: var(--font-size-h5);
    font-weight: var(--font-weight-light);
    line-height: 2.8vh;
    letter-spacing: 2%;
    align-items: center;
}

#ze-pos-user-badge {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-medium);
    line-height: 1.4vh;
    letter-spacing: 2%;
    background-color: var(--color-neutral-300);
    color: var(--color-neutral-700);
    padding: 0.7vh 0.4vw;
    text-align: center;
    border-radius: 5.55vw;
    margin-left: 0.5vw;
    align-items: center;
}

#ze-pos-simulate-delivery-button,
#ze-pos-cupons-button {
    background-color: white;
    margin-top: 1.3vw;
    padding: 1vw;
    border-radius: 0.5vw;
    border: 1px solid rgb(223, 223, 225);
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }

.button-text {
    font-weight: 600;
    font-size: 1.4vw;
    text-align: left;
}

.button-subtext {
    font-size: 1vw;
    letter-spacing: 0.01vw;
    font-weight: 300;
    text-align: left;
    color: gray;
}

.button-icon {
    width: 7vw;
    margin-top: 0.4vw;
}