<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- Custom CSS file -->
    <link rel="stylesheet" href="../static/css/styles.css" />
    <!-- ZeSystem -->
    <link rel="stylesheet" type="text/css" href="https://dsyn6hjuj3z67.cloudfront.net/ZSLite-ze.css">


    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    
</head>
<body>


    <div id="ze-pos-new-client-container">
        <div id="ze-pos-new-client-body" class="d-block justify-content-center">
            <span id="ze-pos-new-client-body-icon" class="material-symbols-outlined">group_add</span>
            <p id="ze-pos-new-client-body-text">¿Cliente nuevo?</p>
            <p id="ze-pos-new-client-body-text">Regístralo para incluirlo en la cotización</p>
            <button id="ze-pos-new-client-body-button">
                + Registrar cliente
            </button>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="../static/js/app.js"></script>
</body>

</html>