 <!--Bootstrap CSS -->
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
 <!-- Custom CSS file -->
 <link rel="stylesheet" href="../static/css/styles.css" />
 <!-- ZeSystem -->
 <link rel="stylesheet" type="text/css" href="https://dsyn6hjuj3z67.cloudfront.net/ZSLite-ze.css">

<div class="row">
    <div id="ze-pos-quotation-modal-header" class="col-sm-12 text-center">
        <h4 id="ze-pos-quotation-change-store-title"> Buscar items </h4>
    </div>
</div>
<div class="row justify-content-center">
    <div id="ze-pos-quotation-look-for-store-secction" class="col-sm-12 text-center">
        <input type="text">
        <button class="button-primary">Buscar items</button>
    </div>
</div>
<div class="row justify-content-center">
    <div id="ze-pos-quotation-search-item-icon" class="col-sm-auto">
        <img src = "../static/assets/search-icon.svg"/>
    </div>
</div>
<div class="row justify-content-center">
    <div id="ze-pos-quotation-not-found-item-text" class="col-sm-auto text-center">
        <p>Sin resultados</p>
        <p>El SKU buscado puede estar mal escrito o no esta disponible</p>
    </div>
</div>