{% extends 'index.html' %}

{% block modal_add_item %}
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="row">
                <div class="col-sm-10 nopadding"></div>
                <div class="col-sm-2 nopadding">
                    <button id="ze-pos-quotation-modal-close-button" type="button" data-bs-dismiss="modal">x
                    </button>
                </div>
            </div>
            <div class="row">
                <div id="ze-pos-quotation-modal-header" class="col-sm-12 text-center">
                    <h4 id="ze-pos-quotation-add-item-title"> {{parent_item_category['item_name']}} </h4>
                    <p id="ze-pos-quotation-add-item-modal-sku-availability"> {{parent_item_category['item_code']}} - {{parent_item_category['availability']}} disponible en tienda</p>
                </div>
            </div>
            <div>
                {% set variants = parent_item_category['variants'] %}
                <form id="productDetailsForm" action="" onsubmit="getProductDetails()">
                    {% for variant in variants %}
                        <div class="row ze-pos-quotation-add-item-category nopadding">
                            <div id="ze-pos-quotation-add-item-variant-name" class="col-sm-auto">
                                <p>{{ variant }}</p>
                            </div>
                        </div>
                        <div id='ze-pos-quotation-add-item-size' class="row">
                            <div class="col-auto">
                                {% for variant_item_value in variants[variant] %}
                                    <button id="ze-pos-quitation-add-item-size-button" class="ze-pos-quitation-add-item-size-button">
                                        <img class="ze-pos-add-item-size-icon" src="../static/assets/Check.svg"/> 
                                        {{ variant_item_value }}
                                    </button>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </form>
            </div>
            <div class="row ze-pos-quotation-add-item-category">
                <div class="col-sm-auto">
                    <p>Cantidad</p>
                </div>
            </div>
            <div class="row nopadding">
                <div id="ze-pos-quotation-modify-item-quatity" class="d-flex">
                    <button id="ze-pos-quotation-remove-item-icon" onclick="decreaseItemQuantity()">
                        <img src="../static/assets/minus.svg"/>
                    </button>
                    <div id="ze-pos-quotation-item-quantity" class="justify-content-center">1</div>
                    <button id="ze-pos-quotation-add-item-icon" onclick="incrementItemQuantity()">
                        <img src="../static/assets/plus-icon.svg"/>
                    </button>
                </div>
                <div id="ze-pos-quotation-add-item-sell-info">
                    <div id="ze-pos-quotation-add-item-sell-info-quatity">
                        Lleva 2 por solo
                    </div>
                    <div id="ze-pos-quotation-add-item-sell-info-price">
                        $18,179
                    </div>
                    <div id="ze-pos-quotation-add-item-sell-info-discount">
                        $9,999
                        <div id="ze-pos-quotation-add-item-sell-info-percentage">
                            -48%
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-sm-12">
                    <button id="ze-pos-quotation-add-item-ti-cart-button" type="submit" form="productDetailsForm" class="button-secondary">Agregar al carrito</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block modal_profile_settings %}
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="row">
                <div class="col-sm-10 nopadding"></div>
                <div class="col-sm-2 nopadding">
                    <button id="ze-pos-quotation-modal-close-button" type="button" data-bs-dismiss="modal">x
                    </button>
                </div>
            </div>
            <div class="row">
                <div id="ze-pos-quotation-modal-header" class="col-sm-12 text-center">
                    <h4 id="ze-pos-quotation-add-item-title"> Opciones de cuenta </h4>
                </div>
            </div>
            <div class="row justify-content-center nopadding">
                <div id="ze-pos-quotation-user-settings-space" class="col-sm-auto">
                    <section id="ze-pos-quotation-user-settings" class="row">
                        <div class="col-sm-auto ze-pos-quotation-user-settings-icon">
                            <img src = "../static/assets/person.svg"/>
                        </div>
                        <div id="ze-pos-quotation-user-store-info" class="col-sm-auto ze-pos-quotation-user-store-info">
                            <div id="ze-pos-quotation-user-store-name" class="ze-pos-quotation-user-store-name">
                                Clara Chia
                            </div>
                            <div id="ze-pos-quotation-user-store-detail" class="ze-pos-quotation-user-store-detail">
                                Miembro de: Altabrisa
                            </div>
                        </div>
                        <div id="ze-pos-quotation-modify-settings" class="col ze-pos-quotation-modify-settings">
                            <button id="ze-pos-quotation-log-out-button">
                                <a href="/logout" class="ze-pos-quotation-user-settings-link">Cerrar</a>
                            </button>
                        </div>
                    </section>
                    <section id="ze-pos-quotation-store-settings" class="row">
                        <div class="col-sm-auto ze-pos-quotation-user-settings-icon">
                            <img src = "../static/assets/storefront.svg"/>
                        </div>
                        <div id="ze-pos-quotation-user-store-info" class="col-sm-auto ze-pos-quotation-user-store-info">
                            <div id="ze-pos-quotation-user-store-name" class="ze-pos-quotation-user-store-name">
                                Luuna Masaryk
                            </div>
                            <div id="ze-pos-quotation-user-store-detail" class="ze-pos-quotation-user-store-detail">
                                Tienda actual
                            </div>
                        </div>
                        <div id="ze-pos-quotation-modify-settings" class="col ze-pos-quotation-modify-settings">
                            <button id="ze-pos-quotation-change-store-button">
                                <a href="/modal_cambiar_tienda" class="ze-pos-quotation-user-settings-link">Modificar</a>
                            </button>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block download_quotation %}
    <div id="pdfImage" class="container-fluid">
        <div id="ze-pos-quotation-header" class="row">
            <div id="ze-pos-quotation-brand" class="col">
                <img src = "../static/assets/logo_luuna.svg"/>
            </div>
            <div id="ze-pos-quotation-store_info" class="col">
                <p>{{ ze_pos_order._pos_profile }}</p>
                <p>5541640533 Lu. a Do. de 8:00 a 23:00 hrs</p>
                <p>hola@luuna.mx - www.luuna.mx</p>
            </div>
        </div>
        <div class="row">
            <div id="ze-pos-quotation-greeting">
                <p>Hola Stephanie.</p>
                <p style="margin: 0 !important;">Para nosotros es un gusto compartirte esta cotización:</p>
            </div>
            <div id="ze-pos-quotation-general-data">
                <div id="ze-pos-quotation-number">
                    <h5 class="ze-pos-quotation-general-data-title">Número de cotización</h5>
                    <p>QTN-220110f7ecqd0aa4b22</p>
                </div>
                <div id="ze-pos-quotation-date">
                    <h5 class="ze-pos-quotation-general-data-title">Fecha</h5>
                    <p>15 de febrero del 2023</p>
                </div>
                <div id="ze-pos-quotation-seller">
                    <h5 class="ze-pos-quotation-general-data-title">Vendedor</h5>
                    <p>{{ ze_pos_order._seller_name }}/p>
                </div>
            </div>
            <div id="ze-pos-quotation-selected-items">
                <div class="row">
                    <div class="col-sm-7 ze-pos-quotation-selected-items-title">
                        <p>Productos</p>
                    </div>
                    <div class="col-sm-3 ze-pos-quotation-selected-items-title">
                        <p>Cantidad</p>
                    </div>
                    <div class="col-sm-2 ze-pos-quotation-selected-items-title">
                        <p>Precio</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-7 ze-pos-quotation-item">
                        <p>Colchón Luuna Original Queen</p>
                    </div>
                    <div class="col-sm-3 ze-pos-quotation-item">
                        <p>x1</p>
                    </div>
                    <div class="col-sm-2 ze-pos-quotation-item">
                        <p>$7,599</p>
                    </div>
                </div>
            </div>
            <div id="ze-pos-quotation-details">
                <div id="ze-pos-quotation-notes">
                    <p id="ze-pos-quotation-notes-title">Notas</p>
                    <p id="ze-pos-quotation-notes-value">Agradecemos tu interés por nuestros productos.</p>
                </div>
                <div id="ze-pos-quotation-summary">
                    <div class="row">
                        <div id="ze-pos-quotation-summary-subtotal" class="col">
                            <p>Subtotal</p>
                        </div>
                        <div id="ze-pos-quotation-summary-subtotal-value" class="col">
                            <p>$16,000</p>
                        </div>
                    </div>
                    <div class="row">
                        <div id="ze-pos-quotation-summary-discount" class="col">
                            <p>Descuento</p>
                        </div>
                        <div id="ze-pos-quotation-summary-discount-value" class="col">
                            <p>-$5,399</p>
                        </div>
                    </div>
                    <div class="row">
                        <div id="ze-pos-quotation-summary-cupon" class="col">
                            <p>Cupón</p>
                        </div>
                        <div id="ze-pos-quotation-summary-cupon-value"class="col">
                            <p>(REGALOCOBERTOR)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div id="ze-pos-quotation-summary-shipping" class="col">
                            <p>Envío</p>
                        </div>
                        <div id="ze-pos-quotation-summary-shipping-value" class="col">
                            <p>Gratis</p>
                        </div>
                    </div>
                    <div class="row">
                        <div id="ze-pos-quotation-summary-total" class="col">
                            <p>Valor a pagar</p>
                        </div>
                        <div id="ze-pos-quotation-summary-total-value" class="col">
                            <p>$6,999</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="ze-pos-quotation-footer" class="row">
            <p>Todos los precios son en pesos mexicanos e incluyen impuestos.</p>
        </div>
    </div>
{% endblock %}