<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotation Detail</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="https://dsyn6hjuj3z67.cloudfront.net/ZSLite-ze.css">
</head>
<body>
    <div id="pdfImage" class="container-fluid">
        <div id="ze-pos-quotation-header" class="row">
            <div id="ze-pos-quotation-brand" class="col">
                <img src = "../static/assets/logo_luuna.svg"/>
            </div>
            <div id="ze-pos-quotation-store_info" class="col">
                <p>{{ ze_pos_order._pos_profile }}</p>
                <p>5541640533 Lu. a Do. de 8:00 a 23:00 hrs</p>
                <p>hola@luuna.mx - www.luuna.mx</p>
            </div>
        </div>
        <div class="row">
            <div id="ze-pos-quotation-greeting">
                <p>Hola Stephanie.</p>
                <p style="margin: 0 !important;">Para nosotros es un gusto compartirte esta cotización:</p>
            </div>
            <div id="ze-pos-quotation-general-data">
                <div id="ze-pos-quotation-number">
                    <h5 class="ze-pos-quotation-general-data-title">Número de cotización</h5>
                    <p>QTN-220110f7ecqd0aa4b22</p>
                </div>
                <div id="ze-pos-quotation-date">
                    <h5 class="ze-pos-quotation-general-data-title">Fecha</h5>
                    <p>15 de febrero del 2023</p>
                </div>
                <div id="ze-pos-quotation-seller">
                    <h5 class="ze-pos-quotation-general-data-title">Vendedor</h5>
                    <p>{{ ze_pos_order._seller_name }}/p>
                </div>
            </div>
            <div id="ze-pos-quotation-selected-items">
                <div class="row">
                    <div class="col-sm-7 ze-pos-quotation-selected-items-title">
                        <p>Productos</p>
                    </div>
                    <div class="col-sm-3 ze-pos-quotation-selected-items-title">
                        <p>Cantidad</p>
                    </div>
                    <div class="col-sm-2 ze-pos-quotation-selected-items-title">
                        <p>Precio</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-7 ze-pos-quotation-item">
                        <p>Colchón Luuna Original Queen</p>
                    </div>
                    <div class="col-sm-3 ze-pos-quotation-item">
                        <p>x1</p>
                    </div>
                    <div class="col-sm-2 ze-pos-quotation-item">
                        <p>$7,599</p>
                    </div>
                </div>
            </div>
            <div id="ze-pos-quotation-details">
                <div id="ze-pos-quotation-notes">
                    <p id="ze-pos-quotation-notes-title">Notas</p>
                    <p id="ze-pos-quotation-notes-value">Agradecemos tu interés por nuestros productos.</p>
                </div>
                <div id="ze-pos-quotation-summary">
                    <div class="row">
                        <div id="ze-pos-quotation-summary-subtotal" class="col">
                            <p>Subtotal</p>
                        </div>
                        <div id="ze-pos-quotation-summary-subtotal-value" class="col">
                            <p>$16,000</p>
                        </div>
                    </div>
                    <div class="row">
                        <div id="ze-pos-quotation-summary-discount" class="col">
                            <p>Descuento</p>
                        </div>
                        <div id="ze-pos-quotation-summary-discount-value" class="col">
                            <p>-$5,399</p>
                        </div>
                    </div>
                    <div class="row">
                        <div id="ze-pos-quotation-summary-cupon" class="col">
                            <p>Cupón</p>
                        </div>
                        <div id="ze-pos-quotation-summary-cupon-value"class="col">
                            <p>(REGALOCOBERTOR)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div id="ze-pos-quotation-summary-shipping" class="col">
                            <p>Envío</p>
                        </div>
                        <div id="ze-pos-quotation-summary-shipping-value" class="col">
                            <p>Gratis</p>
                        </div>
                    </div>
                    <div class="row">
                        <div id="ze-pos-quotation-summary-total" class="col">
                            <p>Valor a pagar</p>
                        </div>
                        <div id="ze-pos-quotation-summary-total-value" class="col">
                            <p>$6,999</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="ze-pos-quotation-footer" class="row">
            <p>Todos los precios son en pesos mexicanos e incluyen impuestos.</p>
        </div>
    </div>
</body>
</html>